/mymoney-progres2-laravel/mymoney/node_modules
/mymoney-progres2-laravel/mymoney/public/hot
/mymoney-progres2-laravel/mymoney/public/storage
/mymoney-progres2-laravel/mymoney/storage/*.key
/mymoney-progres2-laravel/mymoney/vendor
/mymoney-progres2-laravel/mymoney/.env
/mymoney-progres2-laravel/mymoney/.env.backup
/mymoney-progres2-laravel/mymoney/.phpunit.result.cache
/mymoney-progres2-laravel/mymoney/Homestead.json
/mymoney-progres2-laravel/mymoney/Homestead.yaml
/mymoney-progres2-laravel/mymoney/npm-debug.log
/mymoney-progres2-laravel/mymoney/yarn-error.log
